.AlignImageBottom {
	position: absolute;
	bottom: 0px;
}
.AlignImageTop {
	position: absolute;
	top: 0px;
}


/*Log Container Start*/
.LogContentBoxHeader
{
    position: relative;
    z-index: 21;
    height: 18px;
    background-image: url('../images/ConentBoxes/f3f3f3/TopContainerStretch.png');
    background-repeat: repeat-x;
    margin-right: 18px;
    margin-left: 18px;
}
.LogContentBoxBody {
    background-color: #f3f3f3;
    background-repeat: repeat-x;
    background-position: bottom;
    position: relative;
    min-height: 200px;
    z-index: 21;
    margin-right: 18px;
    margin-left: 18px;
    background-image: url('../images/ConentBoxes/f3f3f3/ContentStretch.png');
}
.LogContentBoxBase {
	margin-right: 18px;
	margin-left: 18px;
	height: 18px;
	position: relative;
	z-index: 21;
	background-image: url('../images/ConentBoxes/f3f3f3/BottomContainerStretch.png');
	background-repeat: repeat-x;
}
.LogContentBoxBaseLeft {
	background-image: url('../images/ConentBoxes/f3f3f3/LeftBottomContainer.png');
	background-repeat: no-repeat;
	left: -18px;
	position: absolute;
	z-index: 21;
	width: 18px;
	height: 18px;
}
.LogContentBoxBaseRight {
	background-image: url('../images/ConentBoxes/f3f3f3/RightBottomContainer.png');
	background-repeat: no-repeat;
	right: -18px;
	position: absolute;
	z-index: 21;
	width: 18px;
	height: 18px;
}
.LogContentBoxBodyLeft {
	background-image: url('../images/ConentBoxes/f3f3f3/LeftContainerStretch.png');
	background-repeat: repeat-y;
	left: -18px;
	position: absolute;
	z-index: 21;
	width: 18px;
	height: 100%;
	top: 0px;
	bottom: 0px;
}
.LogContentBoxBodyRight {
	background-image: url('../images/ConentBoxes/f3f3f3/RightContainerStretch.png');
	background-repeat: repeat-y;
	right: -18px;
	position: absolute;
	z-index: 21;
	width: 18px;
	height: 100%;
	top: 0px;
	bottom: 0px;
}
.LogContentBoxHeaderLeft {
	background-image: url('../images/ConentBoxes/f3f3f3/LeftTopContainer.png');
	background-repeat: no-repeat;
	left: -18px;
	position: absolute;
	z-index: 21;
	width: 18px;
	height: 43px;
}
.LogContentBoxHeaderRight {
	background-image: url('../images/ConentBoxes/f3f3f3/RightTopContainer.png');
	background-repeat: no-repeat;
	position: absolute;
	z-index: 21;
	width: 18px;
	height: 43px;
	right: -18px;
}
.LogImageBottom {
	position: absolute;
	bottom: 0px;
}
.LogContainer {
    position: relative;
    min-height: 300px;
    width: 100%;
    z-index: 2;
    padding-bottom: 18px;
    margin: 0 0px 0 0px;
    clear: both;
}

.DropShadLeft
{
    position: absolute;
    width: 277px;
    height: 7px;
    bottom: 0px;
    left: -3px;
    background-image: url('../images/ConentBoxes/f3f3f3/DropShadLeft.png');
}
.DropShadRight
{
    position: absolute;
    width: 277px;
    height: 7px;
    bottom: 0px;
    right: -3px;
    background-image: url('../images/ConentBoxes/f3f3f3/DropShadRight.png');
}
.wprLogContainer
{
    position: relative;
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    min-width:600px;
}
.wprLogPad
{
    position: relative;
    padding: 30px;
}
/*Container End*/


/*Admin Container Start*/
.AdminContentBoxHeader
{
    position: relative;
    z-index: 21;
    height: 20px;
    background-image: url('../images/ConentBoxes/TranspFrame/TopContainerStretch.png');
    background-repeat: repeat-x;
    margin-right: 20px;
    margin-left: 20px;
}
.AdminContentBoxBody {
    padding: 50px;
    background-color: #ffffff;
    background-repeat: repeat-x;
    background-position: bottom;
    position: relative;
    min-height: 200px;
    z-index: 21;
    margin-right: 20px;
    margin-left: 20px;
    background-image: url('../images/ConentBoxes/TranspFrame/ContentStretch.png');
}
.AdminContentBoxBase {
	margin-right: 20px;
	margin-left: 20px;
	height: 20px;
	position: relative;
	z-index: 21;
	background-image: url('../images/ConentBoxes/TranspFrame/BottomContainerStretch.png');
	background-repeat: repeat-x;
}
.AdminContentBoxBaseLeft {
	background-image: url('../images/ConentBoxes/TranspFrame/LeftBottomContainer.png');
	background-repeat: no-repeat;
	left: -20px;
	position: absolute;
	z-index: 21;
	width: 20px;
	height: 20px;
}
.AdminContentBoxBaseRight {
	background-image: url('../images/ConentBoxes/TranspFrame/RightBottomContainer.png');
	background-repeat: no-repeat;
	right: -20px;
	position: absolute;
	z-index: 21;
	width: 20px;
	height: 20px;
}
.AdminContentBoxBodyLeft
{
    background-image: url('../images/ConentBoxes/TranspFrame/LeftContainerStretch.png');
    background-repeat: repeat-y;
    left: -20px;
    position: absolute;
    z-index: 21;
    width: 20px;
    height: 100%;
    top: 0px;
    bottom: 0px;
}
.AdminContentBoxBodyRight
{
    background-image: url('../images/ConentBoxes/TranspFrame/RightContainerStretch.png');
    background-repeat: repeat-y;
    right: -20px;
    position: absolute;
    z-index: 21;
    width: 20px;
    height: 100%;
    top: 0px;
    bottom: 0px;
}
.AdminContentBoxHeaderLeft {
	background-image: url('../images/ConentBoxes/TranspFrame/LeftTopContainer.png');
	background-repeat: no-repeat;
	left: -20px;
	position: absolute;
	z-index: 21;
	width: 20px;
	height: 43px;
}
.AdminContentBoxHeaderRight {
	background-image: url('../images/ConentBoxes/TranspFrame/RightTopContainer.png');
	background-repeat: no-repeat;
	position: absolute;
	z-index: 21;
	width: 20px;
	height: 43px;
	right: -20px;
}

.AdminContainer {
    position: relative;
    min-height: 300px;
    width: 100%;
    z-index: 2;
    padding-bottom: 20px;
    margin: 0 0px 0 0px;
    clear: both;
}

/*Container End*/