.hideAll {
	visibility: hidden;
}

a {
	text-decoration: none;
	color: Navy;
}

body {
	padding: 0px;
	margin: 0px;
	height: 100%;
	background-color: #FFFFFF;
	font-family: arial;
	font-size: .95em;
	color: #666666;
}

.MainWrapper {
	position: relative;
	min-height: 100%;
	min-width: 350px;
}

.Header {
	background-position: top;
	width: 100%;
	height: 74px;
	position: relative;
	background-color: #CED6DA;
	background-image: url('../images/backgrounds/header-bg.png');
	padding-top: 24px;
}

.HeaderText {
	display: inline-block;
	padding: 0px 12px;
	margin-bottom: 0;
	font-size: 14px;
	line-height: 20px;
	color: #233039;
	text-align: center;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
	vertical-align: middle;
	cursor: pointer;
	text-transform: uppercase;
}

#Map {
	position: relative;
	width: 100%;
}

.FloatLeft {
	float: left;
}

.FloatRight {
	float: right;
}

.Content {
	width: 100%;
}

#Footer {
	position: relative;
	width: 100%;
	background-color: #CED6DA;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #0a353f;
}

#Footer a {
	color: #0a353f;
	text-decoration: none;
	font-size: 11px;
	text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
}

.Copyright {
	font-style: italic;
	color: #C0C0C0;
}

.Logo {
	position: absolute;
	width: 131px;
	height: 65px;
	z-index: 20;
	left: 20px;
	top: 10px;
	display: block;
}

.Nav {
	height: 20px;
	width: 620px;
	position: absolute;
	left: 200px;
	bottom: 5px;
}

/* #wrapper { */
/* 	padding: 0px; */
/* 	margin: 0px; */
/* 	position: relative; */
/* } */

/* .MTS { */
/* 	background-image: url('../Images/Layout/TopMap-Shd.png'); */
/* 	background-repeat: repeat-x; */
/* 	position: absolute; */
/* 	z-index: 50; */
/* 	top: 0px; */
/* 	width: 100%; */
/* 	height: 16px; */
/* } */

/* .MBS { */
/* 	background-image: url('../Images/Layout/BottomMap-Shd.png'); */
/* 	background-repeat: repeat-x; */
/* 	position: absolute; */
/* 	z-index: 50; */
/* 	bottom: 0px; */
/* 	width: 100%; */
/* 	height: 16px; */
/* } */

/* .gMap { */
/* 	position: absolute; */
/* 	top: 0px; */
/* 	right: 0px; */
/* 	bottom: 0px; */
/* 	left: 0px; */
/* } */

/* .gMap-scale { */
/* 	position: relative; */
/* 	padding: 50% 0 0 0; */
/* } */

/* .WhtStrp { */
/* 	background-color: #FFFFFF; */
/* 	position: absolute; */
/* 	width: 100%; */
/* 	height: 1px; */
/* 	top: 0px; */
/* 	z-index: 50; */
/* } */

/* .Tabs { */
/* 	position: relative; */
/* 	z-index: 50; */
/* 	display: block; */
/* } */

/* .Grid { */
/* 	position: relative; */
/* 	padding: 20px; */
/* 	background-color: #fff; */
/* 	height: 695px; */
/* 	overflow-y: scroll; */
/* 	overflow: -moz-scrollbars-vertical; */
/* 	width: 360px; */
/* 	z-index: 1000; */
/* } */

/* .lblSearchResults { */
/* 	padding-top: 8px; */
/* 	font-size: 13px; */
/* 	color: #fff; */
/* 	position: relative; */
/* 	height: 20px; */
/* } */

/* label.SearchResultHeader { */
/* 	text-transform: uppercase; */
/* 	color: #233039; */
/* } */

/* .SearchResultItem { */
/* 	background-color: #ebecec; */
/* 	padding: 5px; */
/* 	margin-bottom: 5px; */
/* 	overflow: hidden; */
/* } */

/* .SearchResultItem:hover { */
/* 	background-color: #fff; */
/* } */

/* .SearchResultItemSelected { */
/* 	background-color: #fff; */
/* 	padding: 5px; */
/* 	margin-bottom: 5px; */
/* } */

/* .SearchResultImage { */
/* 	float: left; */
/* 	position: relative; */
/* 	width: 100px; */
/* 	height: 100px; */
/* 	margin-right: 5px; */
/* 	margin-bottom: 5px; */
/* } */

/* .SearchResultPrice { */
/* 	position: relative; */
/* 	font-size: 12px; */
/* 	color: #233039; */
/* 	margin-bottom: 0px; */
/* 	line-height: 15px; */
/* } */

/* .SearchResultType { */
/* 	position: relative; */
/* 	color: #979898; */
/* 	font-size: 12px; */
/* 	margin-bottom: 0px; */
/* 	line-height: 15px; */
/* } */

/* .SearchResultAddress { */
/* 	position: relative; */
/* 	color: #979898; */
/* 	font-size: 12px; */
/* 	margin-bottom: 0px; */
/* 	line-height: 15px; */
/* } */

/* .SearchResultDesc { */
/* 	font-size: 12px; */
/* 	margin-bottom: 0px; */
/* 	line-height: 15px; */
/* } */

/* .SearchResultViewMore { */
/* 	font-size: 12px; */
/* 	background-color: #233039; */
/* 	color: #FFFFFF; */
/* 	padding: 2px 20px; */
/* 	margin-top: 10px; */
/* } */

/* .wprMap { */
/* 	position: relative; */
/* } */

/* .SearchRow { */
/* 	position: relative; */
/* 	clear: both; */
/* 	height: 30px; */
/* } */

/* .ulSearch { */
/* 	list-style-type: none; */
/* 	padding-left: 35px; */
/* } */

/* .liSearch { */
/* 	margin-bottom: 2px; */
/* } */

/* .btnSearch { */
/* 	font-family: arial; */
/* 	font-size: 11px; */
/* 	font-weight: bold; */
/* 	width: 45px; */
/* 	height: 15px; */
/* 	position: absolute; */
/* 	bottom: 17px; */
/* 	right: 110px; */
/* 	z-index: 1001; */
/* } */

/* ul.SearchToLet { */
/* 	margin: 0px; */
/* } */

/* .SearchToLet li { */
/* 	height: 40px; */
/* } */

/* .lnkColWht { */
/* 	color: #FFFFFF; */
/* } */

/* .MapSize { */
/* 	position: absolute; */
/* 	white-space: nowrap; */
/* 	line-height: 0; */
/* } */

/* .Legend { */
/* 	background-image: url('Images/Layout/bgGrid_Head.png'); */
/* 	background-repeat: repeat-x; */
/* 	position: absolute; */
/* 	z-index: 7000; */
/* 	width: 50px; */
/* 	font-family: arial; */
/* 	font-size: 16px; */
/* 	color: #FFFFFF; */
/* 	font-weight: bold; */
/* 	font-style: italic; */
/* 	border-top-style: solid; */
/* 	border-width: 1px; */
/* 	border-color: #FFFFFF; */
/* 	top: 50px; */
/* 	padding: 5px; */
/* 	text-decoration: none; */
/* } */

/* .wprContent { */
/* 	position: relative; */
/* 	width: 90%; */
/* 	height: 100%; */
/* 	padding: 0px; */
/* 	margin: 0px; */
/* 	padding: 30px 5% 30px 5%; */
/* } */

/* .hdrTop { */
/* 	height: 41px; */
/* 	position: relative; */
/* 	z-index: 20; */
/* 	background-image: url('../Images/Layout/bgGrid_Head.png'); */
/* 	background-repeat: repeat-x; */
/* } */

/* .FltLeft { */
/* 	position: relative; */
/* 	float: left; */
/* 	margin-right: 5%; */
/* 	overflow: hidden; */
/* } */

/* .FltLeft200px { */
/* 	position: relative; */
/* 	float: left; */
/* 	margin-right: 5%; */
/* 	width: 200px; */
/* } */

/* .rowCreate { */
/* 	position: relative; */
/* 	margin-bottom: 15px; */
/* 	overflow: hidden; */
/* 	border-bottom-style: dotted; */
/* 	border-bottom-width: 2px; */
/* 	border-bottom-color: #C0C0C0; */
/* 	padding-bottom: 10px; */
/* 	z-index: 100; */
/* } */

/* .chkBox { */
/* 	margin-bottom: 15px; */
/* 	margin-left: 0px; */
/* 	list-style-type: none; */
/* 	display: block; */
/* 	overflow: hidden; */
/* 	height: 25px; */
/* 	position: relative; */
/* 	background-color: #F5F5F5; */
/* 	border-style: solid; */
/* 	border-width: 1px; */
/* 	border-color: #C0C0C0; */
/* 	padding: 5px 5px 3px 5px; */
/* 	float: left; */
/* 	margin-right: 5px; */
/* } */

/* .RadioBtnBG { */
/* 	margin-bottom: 15px; */
/* 	margin-left: 0px; */
/* 	overflow: hidden; */
/* 	position: relative; */
/* 	background-color: #F5F5F5; */
/* 	border-style: solid; */
/* 	border-width: 1px; */
/* 	border-color: #C0C0C0; */
/* 	padding: 5px 5px 3px 5px; */
/* 	float: left; */
/* 	margin-right: 5px; */
/* } */

/* .liFarm { */
/* 	margin-bottom: 15px; */
/* 	margin-left: 0px; */
/* 	list-style-type: none; */
/* 	display: block; */
/* 	overflow: hidden; */
/* 	height: 25px; */
/* 	position: relative; */
/* 	background-color: #F5F5F5; */
/* 	border-style: solid; */
/* 	border-width: 1px; */
/* 	border-color: #C0C0C0; */
/* 	padding: 5px 5px 3px 5px; */
/* 	margin-right: 5px; */
/* 	width: 300px; */
/* 	text-align: right; */
/* } */

/* ul { */
/* 	padding: 0px; */
/* 	margin: 0px; */
/* 	list-style-type: none; */
/* } */

/* .txtBox { */
/* 	margin-left: 10px; */
/* 	border-style: none none dotted none; */
/* 	border-bottom-width: 2px; */
/* 	border-bottom-color: #666666; */
/* 	background-color: Transparent; */
/* 	width: 100px; */
/* } */

/* .txtBox2 { */
/* 	background-color: #e8e6e7; */
/* 	border-style: solid; */
/* 	border-width: 1px; */
/* 	border-color: #C0C0C0; */
/* 	padding: 5px; */
/* } */

/* .LoginPos { */
/* 	background-position: right; */
/* 	position: relative; */
/* 	width: 400px; */
/* 	border: 1px solid #C0C0C0; */
/* 	margin-right: auto; */
/* 	margin-left: auto; */
/* 	margin-top: 30px; */
/* } */

/* .btnComplete { */
/* 	position: relative; */
/* 	width: 125px; */
/* 	height: 74px; */
/* } */

/* .radInput_Default { */
/* 	font: 12px arial, tahoma, sans-serif; */
/* 	vertical-align: middle; */
/* } */

/* .Clear { */
/* 	position: relative; */
/* 	height: 1px !important; */
/* 	clear: both; */
/* } */

/* .Clear10 { */
/* 	position: relative; */
/* 	height: 10px; */
/* 	width: 100%; */
/* 	clear: both; */
/* } */

/* .NP { */
/* 	position: relative; */
/* 	height: 28px; */
/* 	float: right; */
/* 	padding-left: 154px; */
/* } */

/* .PadLeft20 { */
/* 	padding-left: 20px; */
/* } */

/* .PaddingFix { */
/* 	padding: 0 5% 0 5%; */
/* } */

/* .IconLinks { */
/* 	border: 1px solid #000000; */
/* 	text-decoration: none; */
/* 	padding-left: 10px; */
/* 	background-color: #6699FF; */
/* } */

/* .CreatePropLink { */
/* 	margin-bottom: 15px; */
/* 	margin-left: 0px; */
/* 	list-style-type: none; */
/* 	display: block; */
/* 	position: relative; */
/* 	background-color: #e8e6e7; */
/* 	border-style: solid; */
/* 	border-width: 1px; */
/* 	border-color: #C0C0C0; */
/* 	padding: 5px; */
/* 	float: left; */
/* 	margin-right: 20px; */
/* 	text-align: center; */
/* 	text-decoration: none; */
/* 	font-size: 17px; */
/* 	color: #6788be; */
/* } */

/* .CreatePropLink:hover { */
/* 	border-color: #6788be; */
/* 	color: #666666; */
/* } */

/* .CreateComLeft { */
/* 	position: relative; */
/* 	float: left; */
/* 	width: 45%; */
/* } */

/* .CreateComRight { */
/* 	position: relative; */
/* 	float: right; */
/* 	width: 45%; */
/* } */

/* .HalfColLeftPad { */
/* 	position: relative; */
/* 	float: left; */
/* 	width: 45%; */
/* 	padding-left: 5%; */
/* } */

/* .HalfColRightPad { */
/* 	position: relative; */
/* 	float: left; */
/* 	width: 45%; */
/* 	padding-right: 5%; */
/* } */

/* .CompletBtnPos { */
/* 	text-align: right; */
/* } */

/* .ThirdCol { */
/* 	position: relative; */
/* 	float: left; */
/* 	width: 30%; */
/* 	padding-right: 3%; */
/* } */

/* .wprViewMap { */
/* 	position: relative; */
/* 	padding: 0px; */
/* 	margin: 0px; */
/* 	width: 100%; */
/* 	height: 100%; */
/* } */

/* .NF { */
/* 	width: 154px; */
/* 	position: absolute; */
/* 	left: 0px; */
/* 	top: 0px; */
/* 	height: 28px; */
/* 	background-image: url('../images/Layout/NavFade.png'); */
/* } */

/* .MapStyle { */
/* 	width: 100%; */
/* 	height: 350px; */
/* 	position: relative; */
/* } */

/* .propery-slider { */
/* 	margin: 30px 30px 30px 15px; */
/* } */

/* .propery-slider div.carousel-inner div img { */
/* 	width: 100%; */
/* 	height: auto; */
/* 	position: relative; */
/* } */

/* .btnGeneral a { */
/* 	color: #FFFFFF; */
/* 	text-decoration: none; */
/* } */

/* .btnGeneral { */
/* 	padding: 5px 10px; */
/* 	border: 1px solid #fff; */
/* 	color: #fff; */
/* 	background-color: #1c4254; */
/* 	text-decoration: none; */
/* 	font-size: 13px; */
/* 	-webkit-border-radius: 5px; */
/* 	-moz-border-radius: 5px; */
/* 	border-radius: 5px; */
/* 	display: block; */
/* 	text-align: center; */
/* 	font-weight: bold; */
/* } */

/* .btnGeneral:hover { */
/* 	border: 1px solid #C0C0C0; */
/* 	color: #666666; */
/* 	background-color: #FFFFFF; */
/* 	-webkit-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .1); */
/* 	-moz-box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .1); */
/* 	box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, .1); */
/* } */

/* .btnModalSearch { */
/* 	width: 120px; */
/* 	float: right; */
/* 	color: #FFFFFF !important; */
/* } */

/* .btnModalSearch:hover { */
/* 	color: #666666 !important; */
/* } */

/* .btnModalCancel { */
/* 	width: 120px; */
/* 	float: left; */
/* 	color: #FFFFFF !important; */
/* } */

/* .btnModalCancel:hover { */
/* 	color: #666666 !important; */
/* } */

/* .btnNavLogin { */
/* 	color: #FFFFFF !important; */
/* } */

/* .btnNavLogin:hover { */
/* 	color: #666666 !important; */
/* } */

/* .txtMultiRow { */
/* 	-webkit-border-radius: 5px; */
/* 	-moz-border-radius: 5px; */
/* 	border-radius: 5px; */
/* 	-webkit-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .3); */
/* 	-moz-box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .3); */
/* 	box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, .3); */
/* 	text-indent: 20px; */
/* } */

/* .wprImageUploader { */
/* 	padding-top: 20px; */
/* 	position: relative; */
/* } */

/* .GridHeader { */
/* 	background-color: #002234 !important; */
/* } */

/* .GridHeader th { */
/* 	color: #FFFFFF !important; */
/* 	font-weight: normal; */
/* 	font-size: 11px; */
/* 	padding: 3px 5px 3px 5px !important; */
/* 	text-align: left; */
/* } */

/* .GridCol td { */
/* 	background-position: left top; */
/* 	padding: 3px 5px; */
/* 	background-image: url('../images/Backgrounds/bg-GridCol.png'); */
/* 	background-repeat: repeat-y; */
/* 	margin-bottom: 1px; */
/* 	font-size: 11px; */
/* } */

/* #SearchCol td { */
/* 	padding: 5px; */
/* 	border-bottom-style: solid; */
/* 	border-bottom-width: 1px; */
/* 	border-bottom-color: #FFFFFF; */
/* } */

/* .grid-PropDesc { */
/* 	padding: 2px 5px 10px 5px; */
/* 	border: 1px solid #C0C0C0; */
/* 	background-color: #F4F4F4; */
/* 	width: 85%; */
/* 	font-size: 11px; */
/* } */

/* .lnkViewMore { */
/* 	text-decoration: none; */
/* 	color: #022F61; */
/* 	padding-left: 5px; */
/* 	font-size: 10px; */
/* } */

/* .lnkAdvancedSrc { */
/* 	font-size: 11px; */
/* 	color: #FF0000; */
/* 	margin-left: 20px; */
/* } */

/* .wprPropDetailMaps { */
/* 	background-color: #FFFFFF; */
/* 	position: relative; */
/* } */

/* .PropDetailHdr { */
/* 	border: 1px solid #2F627D; */
/* 	background-image: url('../images/Backgrounds/bgHeader.jpg'); */
/* 	background-position: right bottom; */
/* 	background-repeat: no-repeat; */
/* 	background-color: #002234; */
/* 	padding: 3px 20px; */
/* 	color: #FFFFFF; */
/* 	font-size: 16px; */
/* 	position: relative; */
/* 	margin-bottom: 10px; */
/* } */

/* .PropDetailHdrTop { */
/* 	background-color: #e8e6e7; */
/* 	padding: 10px 20px; */
/* 	color: #033062; */
/* 	height: 25px; */
/* 	font-size: 18px; */
/* 	/* -moz-border-radius-topleft: 3px;     -moz-border-radius-topright: 3px;     -moz-border-radius-bottomright: 0px;     -moz-border-radius-bottomleft: 0px;     -webkit-border-radius: 3px 3px 0px 0px;     border-radius: 3px 3px 0px 0px;*/ */
/* 	position: relative; */
/* 	text-transform: uppercase; */
/* } */

/* .PropDetailHdr div { */
/* 	margin: 0px; */
/* 	padding: 0px; */
/* 	font-size: 20px; */
/* 	position: absolute; */
/* 	width: 500px; */
/* 	right: 5%; */
/* 	text-align: right; */
/* 	float: right; */
/* 	top: 10px; */
/* } */

/* .wprPropDetails ul { */
/* 	padding: 0px; */
/* 	margin: 0px; */
/* } */

/* .wprPropDetails ul li { */
/* 	padding: 5px; */
/* 	margin: 0px; */
/* 	float: left; */
/* 	border: 2px solid transparent; */
/* 	min-width: 135px; */
/* } */

/* .wprPropDetails ul li div { */
/* 	padding: 5px; */
/* 	float: left; */
/* 	position: relative; */
/* 	height: 20px; */
/* 	min-width: 200px; */
/* } */

/* .wprPropDetailsEdit { */
/* 	padding: 5px; */
/* 	float: left; */
/* 	position: relative; */
/* 	height: 20px; */
/* 	min-width: 130px; */
/* 	border: 1px solid #cccccc; */
/* 	-webkit-border-radius: 4px; */
/* 	-moz-border-radius: 4px; */
/* 	border-radius: 4px; */
/* 	background-color: #FFFFFF; */
/* } */

/* .txtMyDetails { */
/* 	width: 300px; */
/* } */

/* .AccountDetailsUL li { */
/* 	clear: both; */
/* } */

/* .InputBackingRound { */
/* 	border: 1px solid #cccccc !important; */
/* 	background-color: #FFFFFF; */
/* 	width: 100%; */
/* } */

/* .InputMessage { */
/* 	width: 125px; */
/* } */

/* .ContactAgentInput { */
/* 	min-width: 145px !important; */
/* } */

/* .btn-full { */
/* 	padding: 5px 0; */
/* 	font-size: 13px; */
/* 	color: #fff; */
/* 	border: none; */
/* 	width: 100% !important; */
/* 	display: block; */
/* 	text-align: center; */
/* } */

/* .dark { */
/* 	background-color: #233039 !important; */
/* } */

/* .dark:hover { */
/* 	background-color: #D0D8DC !important; */
/* } */

/* .blue { */
/* 	background-color: #63BCD2 !important; */
/* } */

/* .blue:hover { */
/* 	background-color: #D0D8DC !important; */
/* } */

/* .btnForm { */
/* 	padding: 5px 21px; */
/* 	background-color: #233039 !important; */
/* 	font-size: 13px; */
/* 	color: #fff; */
/* 	border: none; */
/* } */

/* .btnForm:hover { */
	
/* } */

/* .MessageSubmit { */
/* 	width: 95px; */
/* 	float: right; */
/* } */

/* .InputBackingSqr { */
/* 	padding: 5px; */
/* 	margin: 5px; */
/* 	background-color: #FFFFFF; */
/* 	-webkit-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, .3); */
/* 	-moz-box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, .3); */
/* 	box-shadow: 0px 2px 5px 2px rgba(0, 0, 0, .3); */
/* } */

/* .wprBorder { */
/* 	padding: 1% 1% 1% 1%; */
/* 	width: 98%; */
/* } */

/* .wprPropDetailContent { */
/* 	width: 1000px; */
/* 	position: relative; */
/* 	margin-right: auto; */
/* 	margin-left: auto; */
/* 	padding-bottom: 150px; */
/* } */

/* .wprPropDetails-fixed { */
/* 	background-color: #e8e6e7; */
/* 	padding: 1% 2% 0 2%; */
/* 	position: relative; */
/* 	width: 96%; */
/* } */

/* .wprPropDetails-fixed ul { */
/* 	padding: 0px; */
/* 	margin: 0px; */
/* } */

/* .wprPropDetails-fixed ul li { */
/* 	padding: 5px; */
/* 	margin: 0px; */
/* 	float: left; */
/* } */

/* .wprPropDetails-fixed ul li div { */
/* 	padding: 5px; */
/* 	float: left; */
/* 	position: relative; */
/* 	height: 20px; */
/* 	min-width: 200px; */
/* } */

/* .wprPropDetails { */
/* 	background-color: #e8e6e7; */
/* 	padding: 2%; */
/* 	position: relative; */
/* 	width: 96%; */
/* } */
/* /*.wprPropDetails ul li div:active */
/* { */
/*     background-color: #FFFFCC; */
/* }*/ */
/* .txtWidth { */
/* 	border-style: none; */
/* 	background-color: #FFFFFF; */
/* 	min-width: 130px; */
/* 	color: #666666 !important; */
/* } */

/* .CreatePropTabs { */
/* 	background-color: #e8e6e7; */
/* } */

/* .wpr100P { */
/* 	position: relative; */
/* 	width: 100%; */
/* 	height: 100%; */
/* 	padding: 0px; */
/* 	margin: 0px; */
/* } */

/* .LockMap { */
/* 	left: 80px; */
/* 	position: absolute; */
/* 	top: 25px; */
/* 	padding: 7px 5px 7px 10px; */
/* 	height: 20px; */
/* 	width: 185px; */
/* 	background-color: #FFFFFF; */
/* 	-moz-border-radius: 5px; */
/* 	-webkit-border-radius: 5px; */
/* 	border-radius: 5px; */
/* 	-webkit-box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, .3); */
/* 	-moz-box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, .3); */
/* 	box-shadow: 0px 4px 4px 3px rgba(0, 0, 0, .3); */
/* 	float: left; */
/* 	clear: both; */
/* 	z-index: 2000; */
/* } */

/* .chkActiveMap { */
/* 	width: 29px; */
/* 	z-index: 2000; */
/* 	background-image: url('../images/Backgrounds/bg-Map-lock.png'); */
/* 	height: 42px; */
/* 	position: absolute; */
/* 	background-repeat: no-repeat; */
/* 	bottom: 5px; */
/* } */

/* .icoShowHideSearch { */
/* 	width: 29px; */
/* 	z-index: 2000; */
/* 	background-image: url('../images/Backgrounds/bg-Search-show-hide.png'); */
/* 	height: 42px; */
/* 	position: absolute; */
/* 	background-repeat: no-repeat; */
/* 	bottom: 5px; */
/* } */

/* .ddlGeneral { */
/* 	background-position: 0px 0px; */
/* 	width: 398px; */
/* 	border-style: none; */
/* 	border-width: 0px; */
/* 	background-image: url('../images/Backgrounds/bg-DDL.png'); */
/* 	height: 38px; */
/* 	padding-bottom: 6px; */
/* 	padding-left: 10px; */
/* 	padding-right: 10px; */
/* 	font-size: 15px; */
/* 	background-repeat: no-repeat; */
/* 	line-height: 44px; */
/* } */

/* .ddlGeneral:focus { */
/* 	background-position: 0px -44px; */
/* } */

/* .txtGeneral { */
/* 	background-position: 0px 0px; */
/* 	width: 398px; */
/* 	border-style: none; */
/* 	border-width: 0px; */
/* 	background-image: url('../images/Backgrounds/bg-TxtBox-sml.png'); */
/* 	height: 38px; */
/* 	padding-bottom: 6px; */
/* 	padding-left: 10px; */
/* 	padding-right: 10px; */
/* 	font-size: 15px; */
/* 	background-repeat: no-repeat; */
/* 	line-height: 44px; */
/* } */

/* .txtGeneral:focus { */
/* 	background-position: 0px -44px; */
/* } */

/* .btnShow { */
/* 	padding: 5px; */
/* 	background-color: #fff; */
/* 	line-height: 22px; */
/* 	font-size: 12px; */
/* 	position: absolute; */
/* 	left: 0px; */
/* 	z-index: 10; */
/* 	text-transform: uppercase; */
/* 	color: #233039; */
/* 	font-weight: bold; */
/* } */

/* .btnShow div.icon-outer { */
/* 	padding: 3px 5px 5px; */
/* 	background-color: #233039; */
/* 	color: #FFFFFF; */
/* } */

/* .btnShowHide { */
/* 	padding: 3px 5px 5px; */
/* 	background-color: #233039; */
/* 	position: absolute; */
/* 	right: 37px; */
/* 	top: 12px; */
/* 	z-index: 3000; */
/* 	color: #fff; */
/* } */

/* a.btnShowHide, a.btnShowHide:hover, a.btnShow, a.btnShow:hover { */
/* 	text-decoration: none; */
/* 	cursor: pointer; */
/* } */

/* #divMap { */
/* 	position: absolute; */
/* 	z-index: 1; */
/* 	width: 100%; */
/* 	top: 0px; */
/* } */

/* .LoginArrow { */
/* 	width: 422px; */
/* 	height: 228px; */
/* 	position: absolute; */
/* 	right: 50px; */
/* 	display: block; */
/* 	z-index: 100; */
/* } */

/* .PropertyMap { */
/* 	position: relative; */
/* 	margin: 30px 15px 30px 30px; */
/* } */

/* .ColDescription { */
/* 	position: relative; */
/* 	float: right; */
/* 	width: 55%; */
/* 	height: 190px; */
/* } */

/* .ColDescriptionLeft { */
/* 	position: relative; */
/* 	float: left; */
/* 	width: 100%; */
/* 	top: 0px; */
/* 	left: 0px; */
/* } */

/* .mmPosition { */
/* 	list-style: none; */
/* 	width: 450px; */
/* 	margin: 24px 5% 0 0; */
/* 	height: 30px; */
/* 	position: relative; */
/* 	float: right; */
/* } */

/* .wprMegamenuDD ul li { */
/* 	padding-left: 10px !important; */
/* } */

/* .wprMegamenuDD ul li ul li a { */
/* 	padding: 0 20px 0 20px !important; */
/* 	border: 1px solid #fff; */
/* } */

/* .wprMegamenuDD ul li ul li a:hover { */
/* 	border: 1px solid #C0C0C0; */
/* 	-webkit-border-radius: 5px; */
/* 	-moz-border-radius: 5px; */
/* 	border-radius: 5px; */
/* } */

/* ul.wprPropOptions, ul.wprPropOptions ul { */
/* 	list-style-type: none; */
/* 	margin: 0; */
/* 	padding: 0; */
/* 	width: 15em; */
/* } */

/* ul.wprPropOptions a { */
/* 	display: block; */
/* 	text-decoration: none; */
/* } */

/* ul.wprPropOptions li { */
/* 	margin-top: 1px; */
/* } */

/* ul.wprPropOptions li a, ul.wprPropOptions ul.wprPropOptions li a { */
/* 	background: #333; */
/* 	color: #fff; */
/* 	padding: 0.5em; */
/* } */

/* ul.wprPropOptions li a:hover, ul.wprPropOptions ul.wprPropOptions li a:hover */
/* 	{ */
/* 	background: #000; */
/* } */

/* ul.wprPropOptions li ul li a, ul.wprPropOptions ul.wprPropOptions li ul li a */
/* 	{ */
/* 	background: #e8e6e7; */
/* 	color: #666666; */
/* 	padding-left: 20px; */
/* 	-webkit-border-radius: 5px; */
/* 	-moz-border-radius: 5px; */
/* 	border-radius: 5px; */
/* } */

/* ul.wprPropOptions li ul li a:hover, ul.wprPropOptions ul.wprPropOptions li ul li a:hover */
/* 	{ */
/* 	background: #fff; */
/* 	border: 1px #e8e6e7 solid; */
/* 	padding-left: 22px; */
/* } */

/* .ddlStyles { */
/* 	border: 1px solid #000000; */
/* 	-moz-border-radius-topleft: 3px; */
/* 	-moz-border-radius-topright: 0px; */
/* 	-moz-border-radius-bottomright: 0px; */
/* 	-moz-border-radius-bottomleft: 3px; */
/* 	-webkit-border-radius: 3px 0px 0px 3px; */
/* 	border-radius: 3px 0px 0px 3px; */
/* } */

/* .txtboxStyles { */
/* 	width: 221px; */
/* 	background: transparent url('images/bg.jpg') no-repeat; */
/* 	color: #747862; */
/* 	height: 20px; */
/* 	border: 0; */
/* 	padding: 4px 8px; */
/* 	margin-bottom: 0px; */
/* } */

/* .wprHeaderLinks { */
/* 	position: absolute; */
/* 	right: 20px; */
/* 	bottom: 10px; */
/* 	font-size: 14px; */
/* 	text-transform: lowercase; */
/* 	color: #4693a7; */
/* } */

/* .wprHeaderLinks:hover { */
/* 	color: #002237; */
/* } */

/* .AgentDetailsLinks { */
/* 	padding: 10px; */
/* 	position: relative; */
/* 	min-width: 200px; */
/* 	float: left; */
/* } */

/* .Agent-Image { */
/* 	width: 100px; */
/* 	height: 100px; */
/* 	position: relative; */
/* 	float: left; */
/* 	background-color: #81B4C8; */
/* 	margin-right: 20px; */
/* 	margin-left: 10px; */
/* 	margin-top: 10px; */
/* } */

/* .AgentDetailsLinks a img { */
/* 	border-style: none; */
/* } */

/* .AgentDetailsLinks a { */
/* 	color: #4693a7; */
/* 	font-size: 14px; */
/* 	position: relative; */
/* } */

/* .MessageAgentHdr { */
/* 	color: #4693a7; */
/* 	font-size: 14px; */
/* 	padding-top: 20px; */
/* } */

/* .wprAgentInfoLinks { */
/* 	font-size: 14px; */
/* 	text-transform: lowercase; */
/* 	color: #4693a7; */
/* } */

/* .wprAgentInfoLinks:hover { */
/* 	color: #002237; */
/* } */

/* .wprAdSpce { */
/* 	color: #fff; */
/* 	height: 250px; */
/* } */

/* .LnkToAgent { */
/* 	background-image: url('../images/Backgrounds/bgHeader.jpg'); */
/* 	background-position: center top; */
/* 	padding: 5px; */
/* } */

/* .LnkToAgent a { */
/* 	color: #FFFFFF !important; */
/* 	font-size: 12px !important; */
/* } */

/* .wprLoginInstructions { */
/* 	position: relative; */
/* 	float: right; */
/* 	width: 422px; */
/* 	height: 228px; */
/* 	right: 90px; */
/* 	margin-top: 20px; */
/* 	margin-bottom: 50px; */
/* } */

/* .wprLoginInstructions p { */
/* 	position: absolute; */
/* 	bottom: 100px; */
/* 	font-size: 17px; */
/* } */

/* .hidden { */
/* 	visibility: hidden; */
/* } */

/* .wrpConentBG { */
/* 	background-color: #E4E4E4; */
/* 	margin: 1%; */
/* 	padding: 2%; */
/* 	position: relative; */
/* 	width: 94%; */
/* 	height: 100%; */
/* } */

/* .Col3 { */
/* 	position: relative; */
/* 	width: 30%; */
/* 	float: left; */
/* 	margin-right: 1%; */
/* } */

/* .SocialContact a { */
/* 	margin-left: 10px; */
/* 	margin-right: 10px; */
/* } */

/* .wprDefault { */
/* 	position: relative; */
/* 	padding: 0px; */
/* 	width: 100%; */
/* 	height: 700px; */
/* } */
/* /**Search box Tabs**/ */
/* .SearchBox { */
/* 	height: 285px; */
/* } */

/* .TabMenu { */
/* 	padding: 0px; */
/* 	margin: 0px; */
/* 	height: 27px; */
/* 	clear: both; */
/* } */

/* .TabMenu li { */
/* 	display: inline; */
/* 	word-spacing: 2000; */
/* } */

/* .TabMenu li a { */
/* 	background-image: url('../images/Backgrounds/bg-Tab.png'); */
/* 	color: #fff !important; */
/* 	padding: 7px 10px; */
/* 	float: left; */
/* 	text-decoration: none; */
/* 	-moz-border-radius-topleft: 5px; */
/* 	-moz-border-radius-topright: 5px; */
/* 	-moz-border-radius-bottomright: 0px; */
/* 	-moz-border-radius-bottomleft: 0px; */
/* 	-webkit-border-radius: 5px 5px 0px 0px; */
/* 	border-radius: 5px 5px 0px 0px; */
/* 	list-style-position: outside; */
/* 	font-size: 13px; */
/* 	font-weight: bold; */
/* } */

/* .TabMenu li.active a { */
/* 	background-image: none; */
/* 	background: #fff; */
/* 	color: #666666 !important; */
/* } */

/* .TabContent { */
/* 	padding: 10px; */
/* } */

/* .TabContentSearch { */
/* 	padding: 18px; */
/* } */

/* .tabli { */
/* 	float: left !important; */
/* 	width: auto !important; */
/* 	margin-bottom: 0px !important; */
/* 	line-height: 23px !important; */
/* } */

/* .tabli li { */
/* 	margin-bottom: 0px !important; */
/* 	line-height: 23px !important; */
/* 	float: left !important; */
/* 	width: auto !important; */
/* } */

/* .SearchForRent .SearchForSale { */
/* 	padding: 0px; */
/* 	margin: 0px; */
/* } */

/* .SearchForRent li .SearchForSale li { */
/* 	width: 183px; */
/* 	height: 36px; */
/* 	padding: 0px; */
/* 	margin: 2px 0px; */
/* } */

/* #srcHouseRent, #srcOfficeRent, #srcCommRent, #srcIndustRent, */
/* 	#srcFarmRent, #srcHouseSale, #srcOfficeSale, #srcCommSale, */
/* 	#srcIndustSale, #srcFarmSale { */
/* 	background-repeat: no-repeat; */
/* 	padding: 10px; */
/* 	margin-top: 5px; */
/* 	margin-bottom: 5px; */
/* 	height: 16px; */
/* 	width: 163px; */
/* } */

/* #srcHouseRent { */
/* 	background-image: url('../images/icons/bgSearch-HouseRent.png'); */
/* } */

/* #srcOfficeRent { */
/* 	background-image: url('../images/icons/bgSearch-OfficeRent.png'); */
/* } */

/* #srcCommRent { */
/* 	background-image: url('../images/icons/bgSearch-ShopRent.png'); */
/* } */

/* #srcIndustRent { */
/* 	background-image: url('../images/icons/bgSearch-IndustrialRent.png'); */
/* } */

/* #srcFarmRent { */
/* 	background-image: url('../images/icons/bgSearch-FarmRent.png'); */
/* } */

/* #srcHouseSale { */
/* 	background-image: url('../images/icons/bgSearch-HouseSale.png'); */
/* } */

/* #srcOfficeSale { */
/* 	background-image: url('../images/icons/bgSearch-OfficeSale.png'); */
/* } */

/* #srcCommSale { */
/* 	background-image: url('../images/icons/bgSearch-ShopSale.png'); */
/* } */

/* #srcIndustSale { */
/* 	background-image: url('../images/icons/bgSearch-IndustrialSale.png'); */
/* } */

/* #srcFarmSale { */
/* 	background-image: url('../images/icons/bgSearch-FarmSale.png'); */
/* } */

/* .btnCloseDiv { */
/* 	padding: 3px; */
/* 	color: #FF0000; */
/* 	height: 7px; */
/* 	margin-bottom: 0px; */
/* 	float: right; */
/* 	font-weight: bold; */
/* 	line-height: 7px; */
/* 	z-index: 200; */
/* 	position: relative; */
/* 	display: block !important; */
/* 	cursor: pointer; */
/* } */

/* .AdvanceSearchDrop { */
/* 	padding: 10px; */
/* 	background-color: #FFFFFF; */
/* 	border: 1px solid #333; */
/* 	-moz-border-radius-topleft: 0px; */
/* 	-moz-border-radius-topright: 5px; */
/* 	-moz-border-radius-bottomright: 5px; */
/* 	-moz-border-radius-bottomleft: 5px; */
/* 	-webkit-border-radius: 0px 5px 5px 5px; */
/* 	border-radius: 0px 5px 5px 5px; */
/* 	-webkit-box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, .3); */
/* 	-moz-box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, .3); */
/* 	box-shadow: 0px 1px 5px 3px rgba(0, 0, 0, .3); */
/* 	position: absolute; */
/* 	width: 601px; */
/* 	height: 100px; */
/* 	left: 343px; */
/* 	top: 50px; */
/* } */

/* .btnAdvanceSearch { */
/* 	color: #FF0000; */
/* 	font-size: 13px; */
/* 	font-weight: bold; */
/* 	width: 100px; */
/* 	position: absolute; */
/* 	left: 65px; */
/* 	bottom: 10px; */
/* 	cursor: pointer; */
/* } */

/* .AdvSearchHeader { */
/* 	color: #666666; */
/* 	height: 21px; */
/* 	padding: 2px 10px 0 10px; */
/* 	border-bottom: none; */
/* 	text-decoration: none; */
/* 	font-weight: bold; */
/* 	-moz-border-radius-topleft: 5px; */
/* 	-moz-border-radius-topright: 5px; */
/* 	-moz-border-radius-bottomright: 0px; */
/* 	-moz-border-radius-bottomleft: 0px; */
/* 	-webkit-border-radius: 5px 5px 0px 0px; */
/* 	border-radius: 5px 5px 0px 0px; */
/* 	background-color: #FFFFFF; */
/* 	top: -24px; */
/* 	position: absolute; */
/* 	width: 100px; */
/* 	left: -1px; */
/* 	display: block; */
/* 	border-style: solid solid none solid; */
/* 	border-top-width: 1px; */
/* 	border-right-width: 1px; */
/* 	border-left-width: 1px; */
/* 	border-top-color: #333; */
/* 	border-right-color: #333; */
/* 	border-left-color: #333; */
/* } */
/* /**Search box Tabs**/ */
/* .wprSearchddls div { */
/* 	float: left; */
/* 	margin-right: 10px; */
/* } */

/* .wprSearchddls { */
/* 	clear: both; */
/* 	position: relative; */
/* 	height: 40px; */
/* } */

/* .noBorder { */
/* 	border-style: none; */
/* } */

/* .btnSearchBox { */
/* 	float: right; */
/* 	text-decoration: none; */
/* 	font-style: italic; */
/* 	color: #333333 !important; */
/* 	margin-top: 15px; */
/* 	margin-right: 20px; */
/* 	font-size: 0.95em !important; */
/* } */

/* .btnSearchBox:hover { */
/* 	color: #33CC33; */
/* } */

/* .btnContact { */
/* 	background-position: center 4px; */
/* 	width: 19px; */
/* 	height: 14px; */
/* 	background-image: url('../images/icons/Contact-icon.png'); */
/* 	position: relative; */
/* 	display: block; */
/* 	padding: 4px 20px; */
/* 	background-repeat: no-repeat; */
/* } */

/* .btnContact:hover { */
/* 	background-position: center -20px; */
/* } */

/* .tblCreate { */
/* 	color: #1c4254; */
/* } */

/* .tblCreate a { */
/* 	color: #333; */
/* 	text-decoration: underline; */
/* } */

/* .uploadedImageDelete { */
/* 	position: relative; */
/* 	top: -92px; */
/* 	right: 8px; */
/* 	cursor: pointer; */
/* } */

/* div.logincontainer div.Agent-Image { */
/* 	width: 50px; */
/* 	height: 50px; */
/* 	position: relative; */
/* 	float: left; */
/* 	margin: 0 10px 0 0; */
/* 	padding: 0px; */
/* } */

/* div.logincontainer a { */
/* 	padding: 2px 5px 2px 5px; */
/* 	position: absolute; */
/* 	left: -50px; */
/* 	top: 0px; */
/* 	background-color: #233039; */
/* 	color: #FFFFFF; */
/* 	font-size: 10px; */
/* } */

/* div.logincontainer p a { */
/* 	position: relative; */
/* 	left: auto; */
/* 	top: auto; */
/* 	float: left; */
/* 	margin-right: 5px; */
/* 	margin-top: 6px; */
/* } */

/* div.logincontainer p { */
/* 	margin: 0px; */
/* 	font-size: 10px; */
/* } */

/* .logincontainer { */
/* 	width: 300px; */
/* 	height: 150px; */
/* 	position: absolute; */
/* 	right: 30px; */
/* 	top: 7px; */
/* } */

/* .logincontainer input { */
/* 	padding: 5px; */
/* 	background-color: #FFFFFF; */
/* 	width: 300px; */
/* 	border: none !important; */
/* } */

/* .registercontainer input { */
/* 	width: 100%; */
/* 	margin-bottom: 5px; */
/* 	padding: 4px 6px; */
/* 	border: 1px solid #cccccc !important; */
/* } */

/* .logincontainer input.last { */
/* 	margin-right: 0px; */
/* } */

/* .logincontainer .links { */
/* 	text-align: right; */
/* } */

/* .logincontainer .links a { */
/* 	padding: 5px 10px; */
/* 	background-color: #233039; */
/* 	font-size: 13px; */
/* 	margin-left: 3px; */
/* 	color: #fff; */
/* 	position: relative; */
/* 	left: auto; */
/* 	top: auto; */
/* } */

/* input.login { */
/* 	padding: 3px 10px; */
/* 	font-size: 13px; */
/* } */

/* .logincontainer .links a:hover { */
/* 	background-color: #cccccc; */
/* } */

/* .logincontainer .links a.first { */
/* 	border: none; */
/* 	background-color: transparent; */
/* 	padding: 0px; */
/* 	color: #233039; */
/* 	font-size: 11px; */
/* } */

/* button.header-fb { */
/* 	background-image: url('../Images/Social/facebook.png'); */
/* 	width: 26px; */
/* 	height: 26px; */
/* 	background-size: contain; */
/* 	border: none; */
/* 	margin-bottom: 3px; */
/* } */

/* button.header-goog { */
/* 	background-image: url('../Images/Social/google.png'); */
/* 	width: 26px; */
/* 	height: 26px; */
/* 	background-size: contain; */
/* 	border: none; */
/* 	margin-bottom: 3px; */
/* } */

/* .left-col { */
/* 	padding: 30px 15px 30px 30px; */
/* } */

/* .right-col { */
/* 	padding: 30px 30px 30px 15px; */
/* } */

/* .address label { */
/* 	float: left; */
/* 	padding-right: 5px; */
/* } */

/* .property-size label { */
/* 	display: inline; */
/* } */

/* .property-features label { */
/* 	float: left; */
/* } */

/* .agent-contact input { */
/* 	margin-bottom: 10px; */
/* 	width: 100%; */
/* } */

/* input#SearchField { */
/* 	width: 100%; */
/* 	padding-top: 5px; */
/* 	padding-bottom: 5px; */
/* 	margin-bottom: 3px; */
/* } */

/* .search-options { */
/* 	padding-top: 7px; */
/* } */

/* a.btnAdvSearch { */
/* 	padding: 5px 33px; */
/* 	background-color: #63bcd2; */
/* 	font-size: 13px; */
/* 	margin-top: 3px; */
/* 	color: #fff; */
/* } */

/* a.btnPropertySearch { */
/* 	padding: 5px 63px; */
/* 	background-color: #233039; */
/* 	font-size: 13px; */
/* 	margin-top: 3px; */
/* 	color: #fff; */
/* } */

/* .Map-popup { */
/* 	position: relative; */
/* 	width: 250px; */
/* 	height: 220px; */
/* 	padding: 10px; */
/* 	border: 1px solid #999; */
/* 	border: 1px solid rgba(0, 0, 0, 0.3); */
/* 	*border: 1px solid #999; */
/* 	outline: none; */
/* 	-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); */
/* 	-moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); */
/* 	box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3); */
/* } */

/* .enlarge-icon { */
/* 	position: absolute; */
/* 	top: 90px; */
/* 	left: 50%; */
/* 	width: 40px; */
/* 	height: 40px; */
/* 	margin-left: -20px; */
/* 	text-align: center; */
/* 	background: #222222; */
/* 	border: 3px solid #ffffff; */
/* 	-webkit-border-radius: 23px; */
/* 	-moz-border-radius: 23px; */
/* 	border-radius: 23px; */
/* 	opacity: 0.5; */
/* 	filter: alpha(opacity = 50); */
/* } */

/* div.enlarge-icon div.icon-plus-sign.icon-white { */
/* 	margin: 12px auto 0; */
/* } */

/* .Map-popup-Image { */
/* 	width: 250px; */
/* 	height: 150px; */
/* 	margin-bottom: 10px; */
/* } */

/* button.btn-close { */
/* 	padding: 3px 5px 5px; */
/* 	background-color: #233039; */
/* 	font-size: 12px; */
/* 	position: absolute; */
/* 	right: 10px; */
/* 	top: 10px; */
/* 	color: #fff; */
/* 	border: none; */
/* } */

/* div.popup-details div.span6 label { */
/* 	margin-right: 5px; */
/* 	display: inline; */
/* 	clear: both; */
/* } */

/* .popup-price { */
/* 	font-weight: bold; */
/* 	color: #233039; */
/* } */

/* div.carousel-inner.popup-images div.item img { */
/* 	width: 100%; */
/* 	height: auto; */
/* } */

/* .head-shot, .head-shot label { */
/* 	text-transform: uppercase; */
/* 	color: #233039; */
/* 	font-weight: bold; */
/* 	font-size: 12px; */
/* } */

/* .contact-details { */
/* 	position: relative; */
/* } */

/* .contact-details a { */
/* 	display: inline; */
/* } */

/* .register-logo { */
/* 	width: 50%; */
/* 	height: auto; */
/* 	position: relative; */
/* 	float: right; */
/* 	margin-bottom: 10px; */
/* } */

/* .property-logo a img { */
/* 	width: 100%; */
/* 	height: auto; */
/* } */

/* .page-wrapper { */
/* 	margin: 30px; */
/* } */

/* fieldset#socialLoginList p button[value=facebook] { */
/* 	background-image: url('../Images/btns/Facebook-login.png'); */
/* 	width: 239px; */
/* 	height: 40px; */
/* 	border: none; */
/* 	clear: both; */
/* 	display: block; */
/* 	margin-bottom: 10px; */
/* } */

/* fieldset#socialLoginList p button[value=google] { */
/* 	background-image: url('../Images/btns/google-login.png'); */
/* 	width: 239px; */
/* 	height: 40px; */
/* 	border: none; */
/* 	clear: both; */
/* 	display: block; */
/* 	margin-bottom: 10px; */
/* } */

/* .gmnoprint img { */
/* 	max-width: none; */
}