 .controls {
   margin-top: 16px;
   border: 1px solid transparent;
   border-radius: 2px 0 0 2px;
   box-sizing: border-box;
   -moz-box-sizing: border-box;
   height: 32px;
   outline: none;
   box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
 }

 #pac-input {
   background-color: #fff;
   padding: 0 11px 0 13px;
   width: 400px;
   font-family: Roboto;
   font-size: 15px;
   font-weight: 300;
   text-overflow: ellipsis;
 }

 #pac-input:focus {
   border-color: #4d90fe;
   margin-left: -1px;
   padding-left: 14px;  /* Regular padding-left + 1. */
   width: 401px;
 }

 .pac-container {
   font-family: Roboto;
 }

 #type-selector {
   color: #fff;
   background-color: #4d90fe;
   padding: 5px 11px 0px 11px;
 }

 #type-selector label {
   font-family: Roboto;
   font-size: 13px;
   font-weight: 300;
 }
      
.col-1, .col-2{
	width: 50%;
    float: left;
}

.Logo {
/* 	position: absolute; */
width: 131px;
	height: 65px;
	z-index: 20;
}

.navbar-brand {
  margin-left: -15px;
 padding: 0px;
}

.navbar-nav li a {
 line-height: 30px;
}

.map_canvas { 
	width: 100%; 
	height: 457px; 
	margin: 0px;
	
}

#map_home { 
	width: auto; 
	padding-right: 15px;
	height: auto; 
	margin: 0px 0px 0px 0px;
	margin-right: 15px;
	border: 1px solid #000;
	
}

h1,h2,h3{
	color: #0095bf;
}

.details input {
	width: 75%;
	background-color: #E8F4FD;
	color:#003366;
}

.additional .input-prepend {
	/*margin-right:50px;*/
}

.input-group {
  padding: 5px;
  max-width: 350px;
  background-color: azure;
}

.navbar {
	margin-bottom: 0px;
}

.input-group-addon {
    min-width:110px;// if you want width please write here //
    text-align:left;
}

textarea.form-control {
	width: 75%;
	background-color: #E8F4FD;
	color:#003366;
}

.mapwrapper {
	width: 100%;
	height: 100%;
	margin-right:0px;
}

.gm-style {
	margin-right:0px;
	
}

.fileinput-button {
  position: relative;
  overflow: hidden;
}
.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer;
}

/* Fixes for IE < 8 */
@media screen\9 {
  .fileinput-button input {
    filter: alpha(opacity=0);
    font-size: 100%;
    height: 100%;
  }
}

.fileupload-buttonbar .btn,
.fileupload-buttonbar .toggle {
  margin-bottom: 5px;
}
.progress-animated .progress-bar,
.progress-animated .bar {
  background: url("../img/progressbar.gif") !important;
  filter: none;
}
.fileupload-process {
  float: right;
  display: none;
}
.fileupload-processing .fileupload-process,
.files .processing .preview {
  display: block;
  width: 32px;
  height: 32px;
  background: url("../img/loading.gif") center no-repeat;
  background-size: contain;
}
.files audio,
.files video {
  max-width: 300px;
}

@media (max-width: 767px) {
  .fileupload-buttonbar .toggle,
  .files .toggle,
  .files .btn span {
    display: none;
  }
  .files .name {
    width: 80px;
    word-wrap: break-word;
  }
  .files audio,
  .files video {
    max-width: 80px;
  }
  .files img,
  .files canvas {
    max-width: 100%;
  }
}

.panel-body {
  padding: 0px;
}

.col-md-2 {
  width: 25.666667%;
}

.col-md-10 {
  width: 74.333333%;
}

.container-fluid {
  padding-top: 15px;
 
}

.AddressForm {
/* 	border: 1px solid #000; */
}

.zaffaHeader { height: 60px; }

.panel-body {
  padding: 0px;
  background-color: azure;
}